.header {
  padding: 15px 0;
  display: flex;
  align-items: center;
  /* background-color: brown; */
  justify-content: space-between;
}

h3.homeHeading{
  font-weight: 800;
  color: #fff;
}

.navHeader {
  display: flex;
  gap: 40px;
}

.navbar {
  display: flex;
  gap: 30px;
}

.homeNavPage {
  display: flex;
  gap: 10px;
  align-items: center;
}

.homeNavPage p {
  margin: 0;
  font-size: 15px;
  color: #fff;
}
.homeNavPage span {
  font-size: 15px;
  color: #fff;
}

span.icon{
  font-size: 20px;
}

button.btn:hover,
button.btn{
  background-color: #D1345B;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 15px;
    border: none;
}

/* Other Pages */

h3.heading{
  font-weight: 800;
  color: black;
}

.navPage {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search{
  width: 650px;
  height: 50px;
}

.navPage p {
  margin: 0;
  font-size: 15px;
  color: black;
}
.navPage span {
  font-size: 15px;
  color: black;
}

/* Wish List Page */
.navWishList {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navWishList p {
  margin: 0;
  font-size: 15px;
  color: #D1345B;
}
.navWishList span {
  font-size: 15px;
  color: #D1345B;
}



