.TableTittle {
    display: flex;
    justify-content: space-between;
}

.contentTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 750px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.contentTable thead tr {
    background-color: #5D87FF;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.contentTable th,
.contentTable td {
    padding: 12px 15px;
}

.contentTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.contentTable tbody tr:last-of-type {
    border-bottom: 2px solid #5D87FF;
}

.contentTable tbody tr.activeRow:hover {
    color: #5D87FF;
    background-color: #f3f3f3;
}

td.tdImg img {
    width: 100px;
    height: 85px;
}

.tdBtn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80px;
}